<p>users works!</p>
<button (click)="userJoin(userId)" class="btn btn-primary" >Open channel list</button>
<br>
<br>
<div *ngIf="isChannelList" class="container">
  <form>
    <div class="form-group" *ngIf="isinRoom">
      <label for for="messagecontent">New message</label>
      <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
    </div>
    <div class="form-group">
      <button *ngIf="isinRoom" (click)="chat(messagecontent)" class="btn btn-primary">Chat</button> &nbsp;

      <button *ngIf="!isinRoom" (click)="joinroom()" class="btn btn-primary">Join</button> &nbsp;

      <button *ngIf="isinRoom" (click)="leaveroom()" class="btn btn-primary">Leave</button>


    </div>


    <select [(ngModel)]="channel" name="channel">
      <option [value]="null">Select Channel</option>
      <option *ngFor="let room of newChannel">
        {{room}}
      </option>
    </select><br><br>
  </form>
  <h3>Notices</h3>
  {{roomnotice}}<br>
  <button (click)="clearnotice()" class="btn btn-primary">Clear Notice</button><br/>
  <h3>Chat Messages for {{currentroom}} - {{numusers}} Active Users</h3>
  <ul>
    <li *ngFor="let message of messages">(user: {{message[1]}}): {{message[0]}}</li>
  </ul>

</div>

