<form>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="text" id="form2Example1" class="form-control" [(ngModel)]="userNameLogin" name="userNameLogin"/>

  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" [(ngModel)]="PwdLogin" name="PwdLogin"/>

  </div>


  <button type="button" class="btn btn-primary btn-block mb-4" (click)="login(userNameLogin, PwdLogin)">Sign in</button>
</form>
<button type="button" class="btn btn-primary btn-block mb-4" (click)="logout()">LogOut</button>









 <table class="table">
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>User Password</th>
    <th>User Role</th>
    <th>Groups/channels</th>
  </tr>

  <tr style="padding-top:20px;" *ngFor="let users of user" >
    <td>{{users.userId}}
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="deleteUser(users.userId)">Delete user</button>
      <div>
      <button class="open-button" (click)="openFormU()">Update user</button>
        <div *ngIf="formOpenU" class="form-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <h1>Update user</h1>



              <label for="user_Name"><b>user Name</b></label>
              <input type="text" class="form-control" id="user_Name" [(ngModel)]="user_Name" name="user_Name">

              <label for="user_Pwd"><b>user Pwd</b></label>
              <input type="text" class="form-control" id="user_Pwd" [(ngModel)]="user_Pwd" name="user_Pwd">

              <label for="user_Role"><b>user Role</b></label>
                <select name="userRole" id="userRole" class="form-control" [(ngModel)]="user_Role" multiple>
                  <option value="Super Admin">Super Admin</option>
                  <option value="Group Admin">Admin</option>
                  <option value="Group Assis">Assistant</option>
                  <option value="member">Member</option>
                </select>

            <button type="button" class="btn btn-primary btn-block mb-4" (click)="updateUser(users._id, users.userId, user_Name, user_Pwd, user_Role)">Update</button>
            <button type="button" class="btn cancel" (click)="closeFormU()">Close</button>
          </form>
        </div>
      </div>
    </td>
    <td>{{users.userName}}</td>
    <td>{{users.userPwd}}</td>
    <td>{{users.userRole}}</td>
    <td>
      <ul style="padding-top:20px;" *ngFor="let GC of users.groupId">
        group: {{GC.id}} / channel: {{GC.channelId}}
      </ul>

    </td>

   <!-- <td><span class="btn btn-primary" [routerLink]="['/update-product', groups._id]"><i class="fa fa-edit"></i> Edit</span>
        &nbsp; <span class="btn btn=primary" (click)="deleteproduct(groups._id)"><i class="fa fa-trash"> Delete</i></span>
        &nbsp;  <span class="btn btn-primary" (click)="getitems(products._id)"><i class="fa fa-edit"></i> Edit second</span>

    </td>-->

  </tr>
</table>


<br>
<button class="open-button" (click)="openFormG()">Open add new group</button>
<div *ngIf="formOpenG" class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Add new channel</h1>

      <label for="groupId">group Id</label>
      <input type="number" class="form-control" id="channelId" [(ngModel)]="groupId" name="groupId">

      <label for="groupName"><b>group Name</b></label>
      <input type="text" class="form-control" id="channelName" [(ngModel)]="groupName" name="groupName">

    <button type="button" class="btn btn-primary btn-block mb-4" (click)="addGroup(groupId, groupName)">Add Group</button>
    <button type="button" class="btn cancel" (click)="closeFormG()">Close</button>
  </form>
</div>
<button type="button" class="btn btn-primary btn-block mb-4" (click)="GCU()">Show Groups/Channels/Users</button>


<table class="table">
  <tr>
    <th>Group</th>
    <th>Channel Name</th>
    <th>User</th>
  </tr>
  <tr style="padding-top:20px;" *ngFor="let group of gcu" >
    <td>
      {{group.groupId}}, {{group.groupName}}
     <div> <span class="btn btn=primary" (click)="deleteGroup(group.groupId)"><i class="fa fa-trash"> Delete Group</i></span>
     </div>
      <div>
        <button class="open-button" (click)="openForm()">Open add new channel</button>

        <div *ngIf="formOpen" class="form-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <h1>Add new channel</h1>

              <label for="channelId">Channel Id</label>
              <input type="number" class="form-control" id="channelId" [(ngModel)]="channelId" name="channelId">

              <label for="channelName"><b>Name</b></label>
              <input type="text" class="form-control" id="channelName" [(ngModel)]="channelName" name="channelName">

            <button type="button" class="btn btn-primary btn-block mb-4" (click)="addChannel(group.groupId, channelId, channelName)">Add Channel</button>
            <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
          </form>
        </div>
      </div>
    </td>
    <td>
      <ul style="padding-top:20px;" *ngFor="let channels of group.channel">
        {{channels.channelId}}, {{channels.channelName}}
        <div>
          <button type="button" class="btn btn-primary btn-block mb-4" (click)="deleteChannel(group.groupId, channels.channelId)">Delete Channel</button>
        </div>
      </ul>

    </td>

      <ul style="padding-top:20px;" *ngFor="let user of group.channel">
        <td style="padding-top:20px;" *ngFor="let users of user.user">
          {{users.userId}}, {{users.userName}}
          <button type="button" class="btn btn-primary btn-block mb-4" (click)="removeUser(users.userId, group.groupId, user.channelId)">remove user </button>

        </td>
        <div>
          <button class="open-button" (click)="openFormUGC()">Add user to G/C</button>

          <div *ngIf="formOpenUGC" class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
              <h1>Add new User to chat</h1>
              <div>
                <label for="productid">User name</label>

                <select name="userRole" id="userRole" class="form-control" [(ngModel)]="userIds" multiple>


                    <option style="padding-top:20px;" *ngFor="let userName of userss"
                     value={{userName.userId}}>{{userName.userName}}, {{userName.userRole}}




                </select>

              </div>


                <button type="button" class="btn btn-primary btn-block mb-4" (click)="addUserGC(userIds, group.groupId, user.channelId)">add user </button>
                <button type="button" class="btn cancel" (click)="closeFormUGC()">Close</button>
            </form>
          </div>
        </div>


      </ul>


  </tr>
</table>

<!--

  <tr style="padding-top:20px;" *ngFor="let group of gcu" >
    <li>
      {{group.groupID}}
      <tr
       style="padding-top:20px;" *ngFor="let channels of group.channel" >
        <ul>
            {{channels.channelId}}
            <tr
             style="padding-top:20px;" *ngFor="let user of channels.user" >

                <td>
                  {{user.userId}}
                </td>

            </tr>

        </ul>
      </tr>
    </li>
  </tr>
</table>-->
<div class="container">
  <form (submit)="createUser($event)">
    <div class="form-group">
      <label for="productid">User ID</label>
      <input type="number" class="form-control" id="userId" [(ngModel)]="userId"
      name="userId" placeholder="ID">

    </div>

    <div class="form-group">
      <label for="productid">User Name</label>
      <input type="text" class="form-control" id="userName" [(ngModel)]="userName" name="userName">
    </div>

    <div class="form-group">
      <label for="productid">Password</label>
      <input type="text" class="form-control" id="userPwd" [(ngModel)]="userPwd" name="userPwd">
    </div>

    <div>
      <label for="productid">Role</label>
      <select name="userRole" id="userRole" class="form-control" [(ngModel)]="userRole" multiple>
        <option value="Super Admin">Super Admin</option>
        <option value="Group Admin">Admin</option>
        <option value="Group Assis">Assistant</option>
        <option value="member">Member</option>
      </select>
    </div>



    <div class="form-group">
      <button type="submit" class="btn btn=primary"><i class="fa fa-plus-square"></i> Add New User</button>
    </div>



  </form>
</div>

<button type="button" class="btn btn-primary btn-block mb-4" (click)="testChannel()">Show Channels</button>
<table class="table">
  <tr>
    <th>Channel ID</th>
    <th>Channel Name</th>
    <th>Group ID</th>

  </tr>

  <tr style="padding-top:20px;" *ngFor="let channel of testChannels" >
    <td>{{channel.channelId}}</td>
    <td>{{channel.channelName}}</td>
    <td>{{channel.groupID}}</td>
   <!-- <td><span class="btn btn-primary" [routerLink]="['/update-product', groups._id]"><i class="fa fa-edit"></i> Edit</span>
        &nbsp; <span class="btn btn=primary" (click)="deleteproduct(groups._id)"><i class="fa fa-trash"> Delete</i></span>
        &nbsp;  <span class="btn btn-primary" (click)="getitems(products._id)"><i class="fa fa-edit"></i> Edit second</span>

    </td>-->

  </tr>
</table>

<button type="button" class="btn btn-primary btn-block mb-4" (click)="getUser()">show users</button>


<br>
<br>
<div class="container">
  <form>
    <div class="form-group">
      <label for="messagecontent"> New message</label>
      <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class class="form-control"/>

    </div>
    <div class="form-group">
      <button (click)="chat()" class="btn btn-primary"> Send</button>
    </div>
  </form>
</div>

<li *ngFor="let m of messages">{{m}}</li>

<button type="button" class="btn btn-primary btn-block mb-4" (click)="join()"> users join</button>



