<form>
  <!-- Username input
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="text" id="form2Example1" class="form-control" [(ngModel)]="user.username" name="username"/>

  </div>

   Password input
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" [(ngModel)]="user.password" name="password"/>

  </div>


   Submit button
  <button type="button" class="btn btn-primary btn-block mb-4" (click)="logIn()">Sign in</button>
</form>-->




<br>
<!--
  <ul>
    <li *ngFor="let item of userList; let k = index" [attr.data-index]="k">
      <p>Group: {{item.group}}</p>
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="delGroup(item.group)">Delete group</button>
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="createChannel(item.group)">Creat Channel</button>
        <ul>
          <li *ngFor="let item1 of item.channel let j = index" [attr.data-index]="j">
            <p>Channel: {{item1.nameChannel}}</p>
            <button type="button" class="btn btn-primary btn-block mb-4" (click)="delChannel(item.group, item1.nameChannel)">Delete channel</button>

            <ul>
              Users:
              <li *ngFor="let item2 of item1.users let j = index" [attr.data-index]="j">
                {{item2.username}}
              </li>
            </ul>
          </li>
        </ul>

      </li>
  </ul>
  -->

  <br>



<br>
<!--
<ul>
  <li *ngFor="let item of userList; let i = index" [attr.data-index]="i">
      {{item.username}}, {{item.email}}, {{item.password}}, {{item.id}}, {{item.role}}
      <input hidden type="text" id="form2Example1" class="form-control" [(ngModel)]="item.username" name="username"/>
      <label class="form-label" for="form2Example1">Role:</label>
      <select name="role" id="form2Example1" class="form-control" [(ngModel)]="item.role" multiple>
        <option value="Super Admin">Super Admin</option>
        <option value="Group Admin">Admin</option>
        <option value="Group Assis">Assistant</option>
        <option value="member">Member</option>
      </select>
      </li>
</ul>-->
<div class="container">
  <table class="table">
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
    </tr>

    <tr style="padding-top:20px;" *ngFor="let groups of group" >
      <td>{{groups.groupId}}</td>
      <td>{{groups.groupName}}</td>

     <!-- <td><span class="btn btn-primary" [routerLink]="['/update-product', groups._id]"><i class="fa fa-edit"></i> Edit</span>
          &nbsp; <span class="btn btn=primary" (click)="deleteproduct(groups._id)"><i class="fa fa-trash"> Delete</i></span>
          &nbsp;  <span class="btn btn-primary" (click)="getitems(products._id)"><i class="fa fa-edit"></i> Edit second</span>

      </td>-->

    </tr>
  </table>
  <br>
  <table class="table">
    <tr>
      <th>Channel ID</th>
      <th>Channel Name</th>
    </tr>

    <tr style="padding-top:20px;" *ngFor="let channels of channel" >
      <td>{{channels.channelId}}</td>
      <td>{{channels.channelName}}</td>

     <!-- <td><span class="btn btn-primary" [routerLink]="['/update-product', groups._id]"><i class="fa fa-edit"></i> Edit</span>
          &nbsp; <span class="btn btn=primary" (click)="deleteproduct(groups._id)"><i class="fa fa-trash"> Delete</i></span>
          &nbsp;  <span class="btn btn-primary" (click)="getitems(products._id)"><i class="fa fa-edit"></i> Edit second</span>

      </td>-->

    </tr>
  </table>
  <br>
  <table class="table">
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>User Password</th>
      <th>User Role</th>
    </tr>

    <tr style="padding-top:20px;" *ngFor="let users of user" >
      <td>{{users.userId}}</td>
      <td>{{users.userName}}</td>
      <td>{{users.userPwd}}</td>
      <td>{{users.userRole}}</td>

     <!-- <td><span class="btn btn-primary" [routerLink]="['/update-product', groups._id]"><i class="fa fa-edit"></i> Edit</span>
          &nbsp; <span class="btn btn=primary" (click)="deleteproduct(groups._id)"><i class="fa fa-trash"> Delete</i></span>
          &nbsp;  <span class="btn btn-primary" (click)="getitems(products._id)"><i class="fa fa-edit"></i> Edit second</span>

      </td>-->

    </tr>
  </table>
  <span class="btn btn-primary" [routerLink]="['/add-product']">Add new product</span>
</div>
<br>
<button type="button" class="btn btn-primary btn-block mb-4" (click)="GCU()">Show Groups/Channels/Users</button>

<table class="table">
  <tr>
    <th>Group</th>
    <th>Channel Name</th>
    <th>User</th>
  </tr>

  <tr style="padding-top:20px;" *ngFor="let group of gcu" >
    <li>
      {{group.groupID}}
      <tr
       style="padding-top:20px;" *ngFor="let channels of group.channel" >
        <ul>

            {{channels.channelId}}
            <tr
             style="padding-top:20px;" *ngFor="let user of channels.user" >

                <td>
                  {{user.userId}}
                </td>

            </tr>

        </ul>
      </tr>
    </li>
  </tr>
</table>

<ul>
  <li style="padding-top:20px;" *ngFor="let group of gcu" >
    <p>Group: {{group.groupID}}</p>
    <ul>
      <li style="padding-top:20px;" *ngFor="let channel of group.channel" >
        <p>Channel: {{channel.channelId}}</p>
        <ul>
          <li style="padding-top:20px;" *ngFor="let user of channel.user" >
            <p>User: {{user.userId}}</p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
